nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}

.user-info {
    display: flex;
    align-items: center;
}

.logout-btn {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.home-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 99vw;
    height: 99vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}